@media(max-width: 521px){
	.reccommendable-text {
		    display: inline-flex;
	}
	.reccommendable-word {
		    padding-left: 50px;
		    padding-right: 50px;
	}
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: inherit;
	}
	.website {
            margin-left: 166px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 100%;
		height: auto;
		margin-left: -3px;
	}
	h2.title {
    	font-size: 1.5rem;
	}

}
@media(min-width: 522px) and (max-width: 767px){
	.reccommendable-text {
		    display: inline-flex;
	}
	.reccommendable-word {
		    padding-left: 50px;
		    padding-right: 50px;
	}
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 100%;
		height: auto;
		margin-left: -3px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}

@media(min-width: 768px) and (max-width: 991px){
.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 42%;
		margin-left: 35px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}


@media(min-width: 992px) and (max-width: 1280px){
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		margin-left: 120px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}



