@media(max-width: 521px){
button#personal-redirect {
	    width: 100%;
	    font-size: x-small;
		margin: 0;
}
	.reccommendable-text {
		    display: inline-flex;
	}
	.reccommendable-word {
		    padding-left: 50px;
		    padding-right: 50px;
	}
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		   
    }
    h1.sentence {
    		font-size: x-large;
	}
	.website {
            margin-left: 166px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 100%;
		height: auto;
		margin-left: -3px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
    .row.title {
    font-size: x-small;
    text-align: center;
    margin: 0;
    }
}
@media(min-width: 522px) and (max-width: 767px){
	.reccommendable-text {
		    display: inline-flex;
	}
	.reccommendable-word {
		    padding-left: 50px;
		    padding-right: 50px;
	}
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 100%;
		height: auto;
		margin-left: -3px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	button#personal-redirect{
		font-size: x-large;
		width: 100%;
		margin: 0;
	}
.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		width: 42%;
		margin-left: 35px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}


@media(min-width: 992px) and (max-width: 1280px){
	img.img-fluid.social {
    width: 57%;
}
	button#personal-redirect{
		font-size: x-large;
		width: 100%;
		margin: 0;
	}
	.logo{
		    margin-left: 18px;
	}
	.nav{
		    margin: 0px;
	}
	img.template {
		    width: 100%;
		    height: auto;
	}
	.wrapper {
		    width: 100%;
		    height: auto;
    }
    h1.sentence {
    		font-size: xx-large;
	}
	.website {
            margin-left: 167px;
    }
    .slidingVertical {
     		text-indent: -1px; 
	}
	.table {
		    height: auto;
		    width: 100%;
		    margin-left: 0px;
	}
	.card{
		margin-left: 120px;
	}
	h2.title {
    	font-size: 1.5rem;
	}
}

@media(min-width: 1600px){
img.img-fluid.social {
    width: 50%;
}
}

