/* Show it's not fixed to the top */
html {
  position: relative;
  min-height: 100%;
}
body{
    background-color: #333;
}
/* start head style */
nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4 {
    background-color: black!important;
}


/* end head style */

/* start footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
  color: white;
}
p{
  margin: 0;
}

i.fa.fa-copyright {
    margin-left: 3px;
}
/* end footer styles
-------------------------------------------------- */

/* i only need this from your css code */
*,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  line-height: 1.5em;
}
/*the end of the css code i need it from you */

/*start style Free Button*/
button#personal-redirect {
    margin-bottom: 20px;
    margin-left: 258px;
    margin-top: 20px;
}
/*end style Free Button*/
/*Start Pricing Style*/
.card-header{
  background-color: dimgray;

}
.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*end Pricing Style*/


/*start Our Service*/

/*
 * Extra utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
img.img-fluid.social {
    width: 61%;
}
.overflow-hidden { overflow: hidden; }
.bg-light.box-shadow.mx-auto {
    height: 151px!important;
    background-color: #333333 !important;
}
.bg-dark {
  background-color: #333333 !important;
}
/*end our Service*/
body{
background-color: #333;
color: white;
}
/* logo style*/
.logo{
      margin-left: 18%;
    float: left;
    height: 48px;
    width: 49px;
}
h3.logo-name {
    margin-left: 4px;
    float: left;
  /*  height: 48px;*/
    width: 49px;
    margin-top: 6px;
    color: white;
}
/*navbar style*/
.nav{
  margin-right:60px; 
}
/

/*
/*rotating words*/
.slidingVertical{
  display: inline;
  text-indent: -1px;
}
.slidingVertical span{
  animation: topToBottom 9.5s linear infinite 0s;
  -ms-animation: topToBottom 9.5s linear infinite 0s;
  -webkit-animation: topToBottom 9.5s linear infinite 0s;
  color: red;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
///
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
////

.reccommendable-text {
  display: inline-flex;
  flex-flow: column wrap;
}
.reccommendable-word {
  padding-left: 170px;
  padding-right: 170px;
  animation-name: move-word;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.reccommendable-word--1 {
  align-self: flex-start;
  animation-delay: 1.3s;
}
@keyframes move-word {
  from {transform: translateX(0px);}
  50% {transform: translateX(50px) skew(-5deg);}
  to {transform: translateX(0px);}
}

img.image-template1 {
    width: 100%;
    border-style: solid;
    border-color: red;
}
/*Wrapper*/
.wrapper{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 100px auto;
    padding: 40px 40px;
    position: relative;
    width: 70%;
    margin-top: -2px;
    
}



h1{
  text-align: center;
}

h2{
      text-align: center;
    margin-top: 59px;

}
img.template-img {
    width: 100%;
    height: 100%;
}

/*template album style*/
.album {
  padding-top: 3rem;
  /*padding-bottom: 3rem;*/
  background-color: #333;
}

.card {
  float: left;
  width: 33.333%;
padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: #333;
  margin-left: 122px;
}

.card > img {
    height: 280px;

  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
  color: lavender ;
}



.header{
  height: 48px;
    background-color: black;
}

.nav-link {
    text-align: center;
    display: -webkit-box;
    padding: .5rem 1rem;
    margin-top: 1px;
}

p.head-para {
    margin-left: 18%;
}

/*start of style footer*/
.copyright{
  line-height: 2.5;
    margin: 0;
}
.footer{
     margin-bottom: -18px;
    background-color: black;
    color: white;
    margin-right: 2px;
    width: 100%;
    left: 0px;
    text-align: center;
    bottom: 0px;
    padding: 15px 0px;  
}
p.template-des {
    margin-left: 23px;
}
img.img-fluid.support {
    width: 76%;
}
.Technology-logo {
    margin: 17px;
}
.fa-copyright {
    background-color: black;
    color: white;
    margin-top: 12px;
    height: 31px;
    width: 20px;
    margin-right: 10px;
    clear: both;
}
/*end of style footer*/

.table{
  width: 63%;
  margin-left: 248px;
}

h4.title-package {
    text-align: center;
    color: white;
}
.col-md-8.col-md-offset-2.cover-heading {
    flex: auto;
    max-width: 100%;
}
.row.title {
    margin-bottom: 10px!important;
    font-size: xx-large;
    text-align: center;
    margin: 0;
}
img.img-fluid.responsive {
        margin-left: -97px;
    min-width: 195% !important;
    float: left;
}

/*start sytle form*/
h4.modal-title {
    color: #333333;
}
label#exampleinput {
    color: #333333;
}
.modal-footer{
  display: block;
}
button.btn.btn-secondary.right-button {
    float: right;
}
/*end style form*/

span.red-word{
  height: 45px!important;
}

.social {
    background-color: black;
}
i.fab.fa-facebook.fa-lg {
    color: blue;
    background-color: white;
}